# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略依赖库（这个文件夹非常大，绝对不要传）
node_modules/

# 忽略本地环境变量（包含你的私密密钥、环境ID等）
.env
.env.local
key.env

# 忽略打包后的产物（Vercel 会在云端自动帮你打包，不需要传这个）
dist/

# 忽略编辑器配置
.vscode/